.idea/
.vscode/
*/.settings/
*.idea
.DS_Store
**/.iml*
*.iml
**/.class
**/.classpath
**/.project
*/target/
target/
*.ipr
*.iws
antx.properties
output/
.flattened-pom.xml
dependency-reduced-pom.xml


/.mvn/wrapper/maven-wrapper.jar

# website
website/node_modules
website/build
website/.docusaurus
website/.cache-loader
website/.env.local
website/.env.development.local
website/.env.test.local
website/.env.production.local
website/npm-debug.log*
website/yarn-debug.log*
website/yarn-error.log*

# fuzzing
**/.cifuzz-corpus/
**/fuzz_corpus/
**/resources/**/fuzz/*Inputs/
